
<body>
    

 
    <div class="mobile-menu-overlay"></div>

    <div class="main-container">
        <div class="pd-ltr-20">
          
            <div class="page-header">
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="title">
							<h4>{{"consulter Type Critère" | translate}}</h4>
						</div>
						<nav aria-label="breadcrumb" role="navigation">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
                                    <a routerLink="/list">{{"type Critère" | translate}}</a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">
									{{"consulter Type Critère" | translate}}
								</li>
							</ol>
						</nav>
					</div>
					<div class="col-md-6 col-sm-12 text-right">
						
					</div>
				</div>
			</div>
            
            
            <div class="card-box mb-30">
               
              
                <div class="pd-20 card-box mb-30">
<div class="clearfix">
    <div class="pull-left">
        <h4 class="text-blue h4">{{"consulter Type Critère" | translate}}</h4>

    </div>
 
</div>
<form  #f="ngForm">
	<div class=" row">

		<label class="col-md-2 col-sm-6 col-form-label">{{"libelle" | translate}} : </label>
		<div class="col-md-4 col-sm-12">
			<input
           
         type="text"  name="typeCritereLibelle" id="typeCritereLibelle" placeholder="Libelle"
                [(ngModel)]="typeCritere.typeCritereLibelle"  class="form-control mb-3"
             
            />
			
		</div>
	
	
		<label class="col-md-2 col-sm-6 col-form-label">{{"libelle Ar" | translate}} : </label>
		<div class="col-md-4 col-sm-12">
			 <input
           
         type="text"  name="Libelle Ar" id="Libelle Ar" placeholder="Libelle Ar"
                [(ngModel)]="typeCritere.typeCritereLibelleAr"   class="form-control mb-3"
               
            />
			
		</div>
	
	
	
 
		
		<label class=" col-md-2 col-sm-6 col-form-label">{{"description" | translate}} : </label>
		<div class="col-md-4 col-sm-12">
			<textarea maxlength="1000" name="typeCritereDescription" id="typeCritereDescription" 
            [(ngModel)]="typeCritere.typeCritereDescription"   class="form-control mb-3"
             >

</textarea>
			
		</div>
		
		<label class=" col-md-2 col-sm-6  col-form-label">{{"description Ar" | translate}} : </label>
		<div class="col-md-4 col-sm-12">
			 <textarea maxlength="1000" name="Description Ar" id="Description Ar " 
            [(ngModel)]="typeCritere.typeCritereDescriptionAr"    class="form-control mb-3"
            >

</textarea>
		</div>
		
	</div>

	<br/>
	<br/>

</form>



</div>
            </div>
			<app-fouter></app-fouter>
        </div>
    </div>
    
</body>

