<body>
    


    <div class="mobile-menu-overlay"></div>

    <div class="main-container">
        <div class="pd-ltr-20">


            <div class="page-header">
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="title">
							<h4> {{"consulter cahier" | translate}}</h4>
						</div>
						<nav aria-label="breadcrumb" role="navigation">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a routerLink="/list-cahier">{{"cahier" | translate}}</a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">
									{{"consulter cahier" | translate}}
								</li>
							</ol>
						</nav>
					</div>
					<div class="col-md-6 col-sm-12 text-right">
						
					</div>
				</div>
			</div>
            
            
            
            <div class="card-box mb-30">
               
              
                <div class="pd-20 card-box mb-30">
<div class="clearfix">
    <div class="pull-left">
        <h4 class="text-blue h4">{{"consulter cahier" | translate}}</h4>

    </div>
 
</div>


<form  #f="ngForm">
	<div class="row ">

		<label class="col-md-2 col-sm-6 col-form-label">{{"libelle" | translate}} : </label>
		<div class="col-md-4 col-sm-12">
			{{TypeCahierCharges.typeCahierChargesLibelle}}
			
		</div>
	
	
		<label class="col-md-2 col-sm-6 col-form-label">{{"ordre" | translate}} : </label>
		<div class="col-md-4 col-sm-12">
            {{TypeCahierCharges.ordre}}
			
		</div>
	
	
	
 </div>

 <div class="row mt-5">
		
		<label class=" col-md-2 col-sm-6 col-form-label">{{"description" | translate}} : </label>
		<div class="col-md-4 col-sm-12">
			
            {{TypeCahierCharges.typeCahierChargesDescription}}

			
		</div>
		
		<label class=" col-md-2 col-sm-6  col-form-label">{{"Type" | translate}} : </label>
		<div class="col-md-4 col-sm-12">
			{{TypeCahierCharges.typeCritere.typeCritereLibelle}}
		</div>
		
	</div>

	<br/>
	<br/>

</form>






</div>
            </div>
            <div class="footer-wrap pd-20 mb-20 card-box">
               
                <a href="https://www.xtensus.com/" target="Xtensus"
                    ></a
                >
            </div>
        </div>
    </div>
    <!-- welcome modal start -->
    
       
       
      
    
    
    
</body>

