<!-- <body>
		


	<div class="mobile-menu-overlay"></div>

	<div class="main-container">
		<div class="pd-ltr-20">
			
			
			<div class="page-header">
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="title">
							<h4>Type Critère</h4>
						</div>
						<nav aria-label="breadcrumb" role="navigation">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="index.html">Home</a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">
									Type Critère
								</li>
							</ol>
						</nav>
					</div>
					<div class="col-md-6 col-sm-12 text-right">
						
					</div>
				</div>
			</div>
			<div class="card-box mb-30">
				
				<h2 class="h4 pd-20">Type Critère</h2>
				<div class="cta flex-shrink-0">
					

					<button type="button" class="btn btn-success" routerLink="/ajouter"><i class="icon-copy fa fa-plus" aria-hidden="true"  ></i> </button>
				</div>
				
				<div ><label>Show</label>
					<select (change)="onTableSizeDataChange($event)">
					<option *ngFor="let size of tableSizes">
					  {{size}}
			
					</option>
				  </select> <label>entities</label></div>
					
				 
				

				<table class="data-table table nowrap">
					
					<thead>
						<tr>
						
							
							<th>Libelle </th>
							<th>Description</th>
							<th>Libelle Ar</th>
							<th>Description Ar</th>
							<th class="datatable-nosort">Opérations</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let t of List | paginate : {
							itemsPerPage: tableSize, currentPage: page,totalItems: count
						  }; let i = index" >

							<td>{{t.typeCritereLibelle}}</td>
							<td>{{t.typeCritereDescription}}</td>
							<td>{{t.typeCritereLibelleAr}}</td>
							<td>{{t.typeCritereDescriptionAr}}</td>
							<td><div class="table-actions">
								
								<button type="button" class="btn btn-warning mr-2 ml-2" (click)="update(t.typeCritereId)"><i class="icon-copy dw dw-edit2"   ></i
									></button>
								
								<button type="button" class="btn btn-danger mr-2 ml-2" (click)="Supprimer(t.typeCritereId)"><i class="icon-copy dw dw-delete-3" ></i
									></button>

									<button type="button" class="btn btn-info"><i class="dw dw-edit2"></i></button>	
							</div></td>
					</tbody>
				</table>
				<pagination-controls  previousLabel="Prev"  nextLabel="Next" (pageChange)="onTableDataChange($event)"></pagination-controls>
			
				

			</div>
			<div class="footer-wrap pd-20 mb-20 card-box">
				DeskApp - Bootstrap 4 Admin Template By
				<a href="https://github.com/dropways" target="_blank"
					>Ankit Hingarajiya</a
				>
			</div>
		</div>
	</div>
	
</body>

****
 -->

 <body>
		


	<div class="mobile-menu-overlay"></div>

	<div class="main-container">
		<div class="pd-ltr-20">
			
			
			<div class="page-header">
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="title">
							<h4>{{"type Critère" | translate}}</h4>
						</div>
						<nav aria-label="breadcrumb" role="navigation">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="index.html">{{"Home" | translate}}</a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">
									{{"type Critère" | translate}}
								</li>
							</ol>
						</nav>
					</div>
					<div class="col-md-6 col-sm-12 text-right">
						
					</div>
				</div>
			</div>
			<div class="card-box mb-30">
				
				
				<div class="cta flex-shrink-0">
					

					<button type="button" class="btn btn-success offset-1" routerLink="/ajouter" style="margin-left: 1em;margin-top: 1em;"><i class="icon-copy fa fa-plus" aria-hidden="true"  ></i> </button>
				</div>
				
			
					
				 
				

				
<div class="container">
	<div  style="margin-left: 75%;">
	  <mat-form-field appearance="fill">
		<input matInput placeholder="Recherche" autocomplete="off" (keyup)="filterData($event)">

	  </mat-form-field>
	</div>
	<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8 ">
	
	
	  <!-- Position Column -->
	  <ng-container matColumnDef="typeCritereId" class="ml-6">
		<th mat-header-cell mat-sort-header *matHeaderCellDef> {{"id" | translate}} </th>
		<td mat-cell *matCellDef="let element"> {{element.typeCritereId}} </td>
	  </ng-container>

	  <ng-container matColumnDef="typeCritereLibelle">
		<th mat-header-cell mat-sort-header *matHeaderCellDef> {{"libelle" | translate}} </th>
		<td mat-cell *matCellDef="let element"> {{element.typeCritereLibelle}} </td>
	  </ng-container>

	  <ng-container matColumnDef="typeCritereLibelleAr">
		<th mat-header-cell mat-sort-header *matHeaderCellDef>{{"libelle Ar" | translate}} </th>
		<td mat-cell *matCellDef="let element"> {{element.typeCritereLibelleAr}} </td>
	  </ng-container>

	  <ng-container matColumnDef="typeCritereDescription">
		<th mat-header-cell mat-sort-header *matHeaderCellDef>{{"description" | translate}} </th>
		<td mat-cell *matCellDef="let element"> {{element.typeCritereDescription}} </td>
	  </ng-container>
	

	  <ng-container matColumnDef="typeCritereDescriptionAr">
		<th mat-header-cell *matHeaderCellDef> {{"description Ar" | translate}} </th>
		<td mat-cell *matCellDef="let element"> {{element.typeCritereDescriptionAr}} </td>
	  </ng-container>

	  <ng-container matColumnDef="Opération">
		<th mat-header-cell *matHeaderCellDef> {{"opération" | translate}} </th>
		<td mat-cell *matCellDef="let element"> 
			
			<button type="button" class="btn btn-info btn-sm"  (click)="consulter(element.typeCritereId)"><i class="bi bi-search" ></i></button>
			
			
			<button type="button" class="btn btn-warning  btn-sm ml-3" (click)="update(element.typeCritereId)"><i class="icon-copy dw dw-edit2"   ></i
			></button>
		
		<button type="button" class="btn btn-danger btn-sm ml-3" (click)="deletee(element)"><i class="icon-copy dw dw-delete-3" ></i
			></button>
		

				 </td>
	  </ng-container>
	  
	
	 
	
	  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


	</table>
	
	<mat-paginator #paginator
		[pageSize]="10"
		[pageSizeOptions]="[5, 10, 25, 100]"
		aria-label="Select page">
	</mat-paginator>

  </div>
			
				

			</div>
			<app-fouter></app-fouter>
		</div>
	</div>
	
</body>
